/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');
$primary: rgb(66,
66,
125);
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Raleway', 'sans-serif';
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: $primary;
    padding: 1em 0;
    a {
        color: white;
        text-decoration: none;
    }
    a.logo {
        font-weight: bold;
    }
    nav {
        float: right;
        ul {
            list-style-type: none;
            margin: 0;
            display: flex;
            li a {
                padding: 1em;
                &:hover {
                    background: darken($primary, 10%);
                }
            }
        }
    }
}

h1 {
    margin-top: 2em;
}

h3 {
    margin-top: 1.75em;
}